<!DOCTYPE html>
<html>
<head>
  <title>Codebreaker play game</title>
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
</head>
<body>
<div id="container">
  <h1>Hello, <%= @@web_game.name %>!</h1>

  <div class="invitation">
    <p>You have <%= @@web_game.game.turns_left %> attempts and <%= @@web_game.game.hints_left %> hints. Good luck</p>

    <% @@web_game.hints.length.times do |index| %>
      <p class="hint">
        <%= @@web_game.hints[index] %>
      </p>
    <% end %>

  </div>

  <% if @@web_game.status != :first_step && @@web_game.status != :hint %>
    <h2>
      You said <span class="text_input">" <%= @@web_game.game.offer %> "</span>
      <% unless @@web_game.game.format_error? %>
         Your result is <span class="text_input">" <%= @@web_game.game.decode_offer %> "</span>
      <% end %>
    </h2>
  <% end %>

  <% if @@web_game.status == :playing && @@web_game.game.format_error? %>
    <div class="message error">Incorrect number format, try again, please...!</div>
  <% end %>

  <% if @@web_game.game.win? || @@web_game.game.game_over? %>
    
    <% if @@web_game.game.win? %>
      <div class="message win">Congradulations. You've win!!!</div>
    <% end %>

    <% if @@web_game.game.game_over? %>
      <div class="message error">
        Sorry, you lose the game :( <br>
        The secret code was <%= @@web_game.game.secret_code %>
      </div>
    <% end %>

  <% else %>
    <p>Pleace try to find the secret code</p>
    <p>only 4 numbers (from 0 to 6):</p>
    <form method="post" action="/update_game">
      <input class="text_input" name="guess" type="text">
      <input class="button try_button" type="submit" value="SEND">
    </form>
  <% end %>

  <a class="button" href="/">Start new game</a>

  <% if @@web_game.show_hints_button? %>
    <a class="button" href="/show_hint">Show hint</a>
  <% end %>  

  <% if @@web_game.game.win? || @@web_game.game.game_over? %>
    <a class="button" href="/show_res">Show results</a>
  <% end %>  

  <% if @@web_game.game.win? %>
    <a class="button" href="/save_res">Save results</a>
  <% end %>  


</div>
</body>
</html>

